<div class="wrap">
    <h2 class="mb-5">Template: Basic form</h2>
    <form (ngSubmit)="save()" #formBasic="ngForm" autocomplete="off">
        <div class="mb-3 row">
            <label for="product" class="form-label col-sm-2">Product</label>
            <div class="col-sm-9">
                <input type="text" 
                    class="form-control" 
                    id="product" 
                    name="product"
                    ngModel
                    placeholder="Product name" 
                    aria-describedby="productHelp"
                    required minlength="3"
                    [class.is-invalid]="validateName()"
                    >
                <div id="productHelp" class="invalid-feedback">We'll never share your email with anyone else.</div>
            </div>
        </div>
        <div class="mb-3 row">
            <label for="price" class="form-label col-sm-2">Price</label>
            <div class="col-sm-9">
                <input type="number" 
                    class="form-control" 
                    id="price" 
                    name="price"
                    ngModel
                    placeholder="$0.00" 
                    aria-describedby="priceHelp"
                    [class.is-invalid]="validatePrice()"
                    >
                <div id="priceHelp" class="invalid-feedback">We'll never share your email with anyone else.</div>
            </div>
        </div>
        <div class="mb-3 row">
            <label for="existing" class="form-label col-sm-2">Existing</label>
            <div class="col-sm-9">
                <input type="number" 
                    class="form-control" 
                    id="existing" 
                    name="existing"
                    ngModel
                    placeholder="2" 
                    appCustomMin
                    [minimum]="0"
                    required
                    aria-describedby="existingHelp">
                <div id="existingHelp" class="invalid-feedback">We'll never share your email with anyone else.</div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-11">
                <button type="submit" [disabled]="formBasic.invalid" class="btn btn-primary float-end">Save</button>
            </div>
        </div>
    </form>
</div>
