/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.flex-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.container {
  box-sizing: border-box;
  height: calc(100vh - 64px);
  padding: 1em 2em;
  overflow: hidden;
}

.mat-form-field-wrapper {
  margin-left: 1em;
  width: 400px;
}
.mat-form-field-appearance-fill .mat-form-field-flex {
  padding-left: 0 !important;
}

.mat-toolbar .mat-form-field-underline,
.mat-toolbar .mat-form-field-ripple,
.mat-toolbar .mat-focused .mat-form-field-ripple {
  background: #fff !important;
}
