<div class="wrap">
  <h2 class="mb-5">Combos anidados</h2>

  <form (ngSubmit)="save()" [formGroup]="form">
    <div class="row">
      <div class="mb-3 col">
        <label for="region" class="form-label col-sm-2">Region:</label>
        <select
          class="form-control"
          formControlName="region"
          (change)="regionChange()"
        >
          <option value="">-- Select region --</option>
          <option *ngFor="let region of regions" [value]="region | lowercase">
            {{ region }}
          </option>
        </select>
      </div>
    </div>
    <div class="row">
      <div class="mb-3 col">
        <label for="country" class="form-label col-sm-2">Country:</label>
        <div
          class="spinner-border"
          role="status"
          *ngIf="loading && !countries.length"
        >
          <span class="visually-hidden">Loading...</span>
        </div>
        <select
          class="form-control"
          formControlName="country"
          (change)="countryChange()"
        >
          <option value="">-- Select country --</option>
          <option
            *ngFor="let country of countries"
            [value]="country.alpha3Code"
          >
            {{ country.name }}
          </option>
        </select>
      </div>
    </div>
    <div class="row">
      <div class="mb-3 col">
        <label for="border" class="form-label col-sm-2">Border:</label>
        <div
          class="spinner-border"
          role="status"
          *ngIf="loading && countries.length && !borders.length"
        >
          <span class="visually-hidden">Loading...</span>
        </div>
        <select
          class="form-control"
          formControlName="border"
          (change)="borderChange()"
        >
          <option value="">-- Select border --</option>
          <option *ngFor="let border of borders" [value]="border">
            {{ border }}
          </option>
        </select>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <button
          type="submit"
          class="btn btn-primary float-end"
          [disabled]="form.invalid"
        >
          Select
        </button>
      </div>
    </div>
  </form>
</div>
