<mat-drawer-container fullscreen autosize>
  <mat-drawer #drawer opened mode="side">
    <mat-toolbar color="primary">
      <mat-toolbar-row>
        <h1>Heroes</h1>
        <button mat-button>
          <mat-icon>add</mat-icon>
        </button>
      </mat-toolbar-row>
    </mat-toolbar>
  </mat-drawer>

  <div>
    <mat-toolbar color="primary">
      <mat-toolbar-row>
        <nav>
          <button mat-button>Basic</button>
          <button mat-button>Basic</button>
          <button mat-button>Basic</button>
        </nav>
      </mat-toolbar-row>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </div>
</mat-drawer-container>
