.mat-toolbar,
mat-drawer-container {
  background: #222;
  color: #fff;
}

mat-drawer {
  width: 300px;
}

.nav {
  margin-left: auto;
}

.mat-input-element::placeholder {
  color: #fff;
}

.search-hero {
  overflow: hidden;
}
