.country-form {
  width: 60%;
  max-width: 550px;
  margin: auto;

  .mat-form-field {
    width: 100%;

    input {
      font-size: 1.5em;
    }
  }
}

.country-table {
  width: 80%;
  margin: auto;
}

.flag {
  $size: 40px;
  width: $size;
  height: $size;
  border-radius: 50%;
  display: block;
  object-fit: cover;
}
